<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>WatchCTRL uses the local network to receive remote control commands from your iPhone.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_watchctrl._tcp</string>
		<string>_watchctrl._udp</string>
	</array>
</dict>
</plist>
